<?xml version="1.0" encoding="UTF-8"?>
<contents version="5.0.0">
  <menu id="2" name="表紙" pagenum="1"></menu>
  <menu id="4" name="令和8年度 社会経済視察団" pagenum="2"></menu>
  <menu id="5" name="第3回会員企業等異業種交流会" pagenum="5"></menu>
  <menu id="6" name="＜トップセミナー＞激変する時代を勝ち抜く！AI時代のビジネス戦略" pagenum="9"></menu>
  <menu id="7" name="＜連載＞低成長時代の就業規則の見直し・改訂のポイント" pagenum="15"></menu>
  <menu id="3" name="裏表紙" pagenum="20"></menu>
</contents>
