<?xml version="1.0" encoding="UTF-8"?>
<contents version="5.0.0">
  <menu id="2" name="表紙" pagenum="1"></menu>
  <menu id="3" name="特集｜令和８年度定時総会（議事・講演会）" pagenum="2"></menu>
  <menu id="4" name="令和７年度第３回理事会・講演会" pagenum="4"></menu>
  <menu id="5" name="第12 回トップセミナー｜これからの時代のマネジメントを考える" pagenum="6"></menu>
  <menu id="6" name="＜連載＞低成長時代の就業規則の見直し・改訂のポイント" pagenum="16"></menu>
  <menu id="7" name="裏表紙" pagenum="26"></menu>
</contents>
