<?xml version="1.0" encoding="UTF-8"?>
<contents version="5.0.0">
  <menu id="2" name="表紙" pagenum="1"></menu>
  <menu id="3" name="＜企業経営・経営戦略＞採用支援セミナー" pagenum="3"></menu>
  <menu id="4" name="＜階層別＞管理職のためのマネジメント基礎講座" pagenum="4"></menu>
  <menu id="5" name="＜青年経営者部会＞令和8年度定時総会" pagenum="7"></menu>
  <menu id="7" name="新規入会会員のご紹介" pagenum="14"></menu>
  <menu id="6" name="裏表紙" pagenum="22"></menu>
</contents>
